<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <form [formGroup]="formEmpleado"
                (ngSubmit)="guardar()"
                class="form-agregar mt-5 mx-auto d-block bg-white">
            <div class="row">
                <div class="col-12 col-md-6 mb-3 form-group">
                    <label for="inputNombre" class="form-label">Nombre<code>*</code></label>
                    <input type="text" id="inputNombre" class="form-control" formControlName="nombre">
                    <code *ngIf="formEmpleado.controls.nombre.errors?.required  && formEmpleado.controls.nombre.touched" class="error">
                        El campo <strong>nombre</strong> es obligatorio.
                    </code>
                    <code *ngIf="formEmpleado.controls.nombre.errors?.minlength  && formEmpleado.controls.nombre.touched" class="error">
                        El campo <strong>nombre</strong> requiere <strong>3</strong> caracteres como minimo.
                    </code>
                </div>
                <div class="col-12 col-md-6 mb-3 form-group">
                    <label for="inputApellidos" class="form-label">Apellidos<code>*</code></label>
                    <input type="text" id="inputApellidos" class="form-control" formControlName="apellidos">
                    <code *ngIf="formEmpleado.controls.apellidos.errors?.required  && formEmpleado.controls.apellidos.touched" class="error">
                        El campo <strong>apellidos</strong> es obligatorio.
                    </code>
                    <code *ngIf="formEmpleado.controls.apellidos.errors?.minlength  && formEmpleado.controls.apellidos.touched" class="error">
                        El campo <strong>apellidos</strong> requiere <strong>3</strong> caracteres como minimo.
                    </code>
                </div>
            </div>
            <div class="col form-group mb-3">
                <label for="inputEmail" class="form-label">Email<code>*</code></label>
                <input type="text" id="inputEmail" class="form-control" formControlName="email">
                <code *ngIf="formEmpleado.controls.email.errors?.required  && formEmpleado.controls.email.touched" class="error">
                    El campo <strong>email</strong> es obligatorio.
                </code>
                <code *ngIf="formEmpleado.controls.email.errors?.pattern  && formEmpleado.controls.email.touched" class="error">
                    El campo <strong>email</strong> debe tener el formato: <strong>nombre@ejemplo.com</strong>.
                </code>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3 form-group">
                    <label for="inputEdad" class="form-label">Edad</label>
                    <input type="number" id="inputEdad" class="form-control" formControlName="edad">
                </div>
                <div class="col-12 col-md-6 mb-3 form-group">
                    <label for="inputDepartamento" class="form-label">Departamento<code>*</code></label>
                    <select class="form-select" formControlName="departamento">
                        <option selected disabled>Selecione</option>
                        <option value="informatica">Informatica</option>
                        <option value="disenio">Diseño</option>
                        <option value="marketing">Marketing</option>
                    </select>
                    <code *ngIf="formEmpleado.controls.departamento.errors?.required  && formEmpleado.controls.departamento.touched" class="error">
                        El campo <strong>departamento</strong> es obligatorio.
                    </code>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3 form-group">
                    <label for="inputPassword" class="form-label">Password<code>*</code></label>
                    <input type="password" id="inputPassword" class="form-control" formControlName="password">
                </div>
                <div class="col-12 col-md-6 mb-3 form-group">
                    <label for="inputRepitePassword" class="form-label">Respite password<code>*</code></label>
                    <input type="password" id="inputRepitePassword" class="form-control" formControlName="repitePassword">
                </div>
            </div>
            <!-- <code *ngIf="formEmpleado.controls.departamento.errors?.required  && formEmpleado.controls.departamento.touched" class="error">
                Las <strong>Contraseñas</strong>no coinciden.
            </code> -->
            <div class="col form-group">
                <label for="inputFoto" class="form-label">Foto</label>
                <input type="text" id="inputFoto" class="form-control" formControlName="foto">
            </div>
            <div class="col-12 mt-4 d-flex justify-content-between">
                <input type="submit" value="Agregar" class="btn btn-primary w-100" [disabled]="formEmpleado.invalid">
                <!-- <button class="btn btn-danger w-25"> Eliminar </button> -->
            </div>
        </form>
    </div>
    <div class="col-12 col-lg-6">
        <div class="foto-container mt-5">
            <img class="img-fluid d-block mx-auto mx-lg-0 me-lg-auto" src="assets/no-image.png" alt="Sin foto">
            <!-- <img class="img-fluid d-block mx-auto mx-lg-0 me-lg-auto" src="https://images.generated.photos/qezJoX0PykBtoxVUqVfCeMLZjC3KU62dzsQlu16w-PU/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LmNvbmQvN2M5NGNj/MmMtOThhYi00MmI1/LThlNTUtZGEwNWJi/YWZmMGZmLmpwZw.jpg" alt=""> -->
        </div>
    </div>
</div>

<!-- dnivalidator -->