<div class="row justify-content-start gap-4">
    <div class="col-auto">        
        <div class="card" style="width: 12rem;">
            <img src="https://images.generated.photos/qezJoX0PykBtoxVUqVfCeMLZjC3KU62dzsQlu16w-PU/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LmNvbmQvN2M5NGNj/MmMtOThhYi00MmI1/LThlNTUtZGEwNWJi/YWZmMGZmLmpwZw.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>nombre</h5>
                <p class="card-text">Some quick example</p>
                <a href="#" class=" btn btn-primary w-100">Ver más</a>
            </div>
        </div>
    </div>

</div>