<div class="row justify-content-start gap-4">
    <div class="col-auto" *ngFor="let empleado of empleados">        
        <div class="card" style="width: 12rem;">
            <img [src]="empleado.foto" class="card-img-top" [alt]="empleado.nombre">
            <div class="card-body">
                <h5>{{ empleado.nombre }}</h5>
                <p class="card-text">{{empleado.departamento}}</p>
                <a routerLink="/empleados/empleado/idEmpleado" class=" btn btn-primary w-100">Ver más</a>
            </div>
        </div>
    </div>

</div>