<aside class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    <a href="/" class="d-block py-2 link-dark text-decoration-none text-center icon-home" title="Home">
        <i class="bi bi-building fs-2"></i>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
          <a routerLink="/empleados/listado" routerLinkActive="active" class="nav-link py-3 border-bottom" title="Home">
            <i class="bi bi-list-ul fs-4"></i>
          </a>
        </li>
        <li class="nav-item">
            <a routerLink="/empleados/nuevo" routerLinkActive="active" class="nav-link py-3 border-bottom" title="Nuevo">
              <i class="bi bi-person-plus fs-4"></i>
            </a>
        </li>
    </ul>
</aside>